name: Terraform CI/CD

on:
  push:
    branches: [ main ]
jobs:
  terraform:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - uses: hashicorp/setup-terraform@v3
      - run: terraform init 
      - run: terraform plan -input=false 
      - run: terraform apply -auto-approve
